footer
    hr
    p.pull-right GitHub 
        a(href="#{options.git_url}", target="_blank") #{options.site_name}
        | by 
        a(href="http://git.oschina.net/u/596392912", target="_blank") #{options.site_name}
    p © 2013 
        a(href="http://git.oschina.net/u/596392912", target="_blank") #{options.site_name}