extends layout

block meta

block content
    article.ss-full-width
        #content_box
            #content.hfeed
                h3 关于
                p
                    | 卢春梦，网名
                    code Dreamlu
                    | 2012年毕业于大湖北！
                hr
                h3 愿望
                p 安得广厦千万间，大庇天下程序缘。
                hr
                h3 掌握
                p
                    code java
                    code spring mvc
                    code JFinal
                    code mysql
                    code jquery
                hr
                h3 熟悉
                p
                    code nodejs
                    code coffee-script
                    code linux
                hr
                h3 时间线
                ul
                    li 2012.11 ～ 2012.03 掌上明珠
                    li 2013.04 ～ 至今 永乐票务

block script