extends layout

block content
    article.article
        #content_box.home_page
            if postsby
                h1.postsby
                    span #{postsby}
            include common/_posts

            currentPage = blogPage.pageNumber
            totalPage   = blogPage.totalPage
            actionUrl   = actionUrl
            urlParas    = ""
            include common/_pagination

    aside.sidebar.c-4-12
        #sidebars.g
            .sidebar
                include common/_sidebar

block script
    script(type="text/javascript")
        var duoshuoQuery = {short_name:"#{options.duoshuo_domain }"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();