!!! 5
html.no-js(lang='en-US')
    head
        include common/_head
        meta(name="wumiiVerification", content="87ae82d9-c019-45d5-9f60-f46c407693b5")
        block meta
    body#blog.home.blog.main.cat-32-id.cat-80-id
        | <!--[if lte IE 7]><div class="old-ie">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div><![endif]-->
        #line
        include common/_header
        .main-container
            #page
                .content
                    block content
        include common/_footer
    script(type='text/javascript', src='#{options.cdn_path}/combo?/js/jquery.min.js,/js/jquery-ui.min.js,/js/modernizr.min.js,/js/superfish.min.js,/js/application.js&v=#{options.site_version}')
    block script