!!! 5
html
    head
        title 出错啦 - JFinal,nodejs博客dreamlu.net
        meta(http-equiv="refresh", content="5; url=/")
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(name='Keywords', content='nodejs,node mysql,node blog,Jfinal,Jfinal博客,开源博客,百度云博客,dreamlu.net')
        meta(name='Description', content='dreamlu dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')
        link(rel="stylesheet", type="text/css", href="#{options.cdn_path}/css/error.css?v=#{options.site_version}")
    body
        #msg_box
            img(src="#{options.cdn_path}/images/404.png")
            .title 抱歉，网站可能出现某些错误
            .msg 我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅
            .nav
                a(href="javascript:history.go(-1)", style="padding-right: 100px;") 返回上页
                a(href="/") 返回首页