|<!--HTML-->
div(style='height: 100%; background: #444; padding: 80px 0; margin: 0; font-size: 14px; line-height: 1.7; font-family: "Helvetica Neue", Arial, sans-serif; color: #444;')
    center
        div(style='margin: 0 auto; width: 580px; background: #FFF; box-shadow: 0 0 10px #333; text-align:left;')
            div(style='margin: 0 40px; color: #999; border-bottom: 1px dotted #DDD; padding: 40px 0 30px; font-size: 13px; text-align: center;')
                a(href="#{options.site_url}", style="color: #009A61; text-decoration: none; font-size: 26px;", target="_blank") #{options.site_name}
            div(style='padding: 30px 40px 40px;') #{user} 您好，您申请了重置登录密码
                br
                br
                | 新密码为： #{pwd}
            div(style='background: #EEE; border-top: 1px solid #DDD; text-align: center; height: 90px; line-height: 90px;')
                a(href='#{options.site_url}/sign_in', style='padding: 8px 18px; background: #009A61; color: #FFF; text-decoration: none; border-radius: 3px;', target='_blank') 立即登录 ➔
        div(style='padding-top: 30px; text-align: center; font-size: 12px; color: #999;')
            br
            a(style='color: #009A61; text-decoration: none;', href='#{options.wb_sina}', target='_blank') 新浪微博
            | ·
            a(style='color: #009A61; text-decoration: none;', href='#{options.wb_qq}', target='_blank') 腾讯微博