|<!--HTML-->
div(style="height: 100%; background: #444; padding: 80px 0; margin: 0; font-size: 14px; line-height: 1.7; font-family: 'Helvetica Neue', Arial, sans-serif; color: #444;")
    div(style="margin: 0 auto; width: 580px; background: #FFF; box-shadow: 0 0 10px #333;")
        div(style="margin: 0 40px; color: #999; border-bottom: 1px dotted #DDD; padding: 40px 0 30px; font-size: 13px; text-align: center;")
            h2
                a(href="#{options.site_url}", style="color: #009A61; text-decoration: none; font-size: 26px;", target="_blank") #{options.site_name}
        div(style="padding: 30px 40px 40px;") #{user} 您好，感谢您使用 #{options.site_name}
            br
            br
            |请点击此链接以完成注册
            a(style="color: #009A61; text-decoration: none;", href="#{options.site_url}#{verifyUrl}", target="_blank") #{options.site_url}#{verifyUrl}
            br
            br
            |DreamLu 敬上
            br
            a(style="color: #009A61; text-decoration: none;", href="#{options.wb_sina}", target="_blank") 新浪微博
            |·
            a(style="color: #009A61; text-decoration: none;", href="#{options.wb_qq}", target="_blank") 腾讯微博
        div(style="background: #EEE; border-top: 1px solid #DDD; text-align: center; height: 90px; line-height: 90px;")
            a(href="#{options.site_url}#{verifyUrl}", style="padding: 8px 18px; background: #009A61; color: #FFF; text-decoration: none; border-radius: 3px;", target="_blank") 完成绑定
            |&nbsp;
            a(href="#{options.site_url}", style="padding: 8px 18px; background: #009A61; color: #FFF; text-decoration: none; border-radius: 3px;", target="_blank") 访问网站 ➔