header.main-header
    .container
        #header
            h1#logo
                a(href='/')
                    | Dr
                    span ea
                    | mLu
            // END #logo
            .widget-header
                .banner
                    .textwidget
                        img(width="728", height="70", alt="#{options.site_name}", src="#{options.cdn_path}/images/banner.png?v=#{options.site_version}")
        // #header
        .secondary-navigation
            nav#navigation
                ul#menu-main-navigation.menu.sf-js-enabled
                    li#menu-item-1305.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-1305
                        a(href='/') 首页
                    li#menu-item-1286.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1286
                        a(href='/blogs') 原创 • 文章
                    li#menu-item-1287.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1287
                        a(href='/favorites') 收藏 • 文章
                    li#menu-item-1298.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1298
                        a.sf-with-ul 生活 • 娱乐
                        ul.sub-menu.sf-js-enabled
                            li#menu-item-1303.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1303
                                a(href="/life/itunes") itunes排行
                            li#menu-item-1301.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1301
                                a(href="/life/html5") html5游戏
                    li#menu-item-1290.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1290
                        a(href='/about') 关于
    // .container