article.article
    #content_box
        #post-356.post-356.post.type-post.status-publish.format-standard.hentry.category-featured.category-wellhead.tag-social-media-2.g.post.cat-32-id.cat-80-id.has_thumb
            .single_post
                .post-date-ribbon
                    .corner
                    | #{jTag.format(blog.update_time) }
                .breadcrumb
                    a(href="/", rel="nofollow") 首页
                    | &nbsp;&nbsp;»&nbsp;&nbsp;
                    a(href="#{typeUrl}", title="#{typeName}") #{typeName}
                    | &nbsp;&nbsp;»&nbsp;&nbsp; #{blog.title}
                header
                    h1.title.single-title #{blog.title}
                    span.theauthor.single-postmeta
                        .author_mt.hp_meta
                            span.mt_icon
                            if blog.url
                                a(href='#{blog.url}', target="_blank", title='作者：#{blog.nick_name}') #{blog.nick_name}
                            else
                                | #{blog.nick_name}
                        .cat_mt.hp_meta
                            !{jTag.tags(blog.id)}
                        .time_mt.hp_meta
                            span.time_icon 
                            | #{jTag.format(blog.create_time) }
                        .view_mt.hp_meta
                            span.view_icon 
                            | #{blog.view_count}
                // .headline_area
                .post-single-content.box.mark-links !{blog.content}
            .lcm_share
                #bdshare.bdshare_t.bds_tools_32.get-codes-bdshare
                    a.bds_qzone
                    a.bds_tsina
                    a.bds_tqq
                    a.bds_renren
                    a.bds_t163
                    a.bds_douban
                    a.bds_taobao
                    a.bds_diandian
                    a.bds_sqq
                    a.bds_tieba
                    a.bds_mail
                    span.bds_more
                    a.shareCount
            .postauthor
                if blog.blog_type == 0
                    h4 关于作者
                    img.avatar.avatar-85.photo(alt="#{blog.nick_name}", src="#{blog.head_photo}", height="80", width="80", style="border-radius: 40px;")
                    h5
                        if blog.url
                            a(href='#{blog.url}', target="_blank", title='作者：#{blog.nick_name}') #{blog.nick_name}
                        else
                            | #{blog.nick_name}
                    p #{blog.signature}
                else
                    h4 原文地址：
                    a(href="#{blog.share_url}", target="_blank") #{blog.share_url}
            .related-posts
                script(type="text/javascript", id="wumiiRelatedItems")
        // post
        #commentsAdd
            // duoshuo  评论
            .ds-thread(data-thread-key="#{blog.id}", data-title="#{blog.title}", data-category="snode", data-author-key="#{blog.user_id}")