each item in blogPage.getList()
    .post.excerpt
        .post-date-ribbon
            .corner
            | #{jTag.format(item.update_time) }
        header
            h2.title
                a(href='/blog/#{item.id}', rel='bookmark') !{jTag.markKeywords(item.title, 50, keywords)}
            .post-info
                .author_mt.hp_meta
                    span.mt_icon
                    if item.url
                        a(href='#{item.url}', target="_blank", title='作者：#{item.nick_name}') #{item.nick_name}
                    else
                        | #{item.nick_name}
                .cat_mt.hp_meta
                    !{jTag.tags(item.id)}
                .time_mt.hp_meta
                    span.time_icon 
                    | #{jTag.format(item.create_time) }
                .view_mt.hp_meta
                    span.view_icon 
                    | #{item.view_count}
                .comment_mt.hp_meta
                    span.mt_icon
                    a(href='blog/#{item.id}#commentsAdd', title='评论数')
                        span.ds-thread-count(data-thread-key="#{item.id}", data-count-type="comments")
        // .header
        .post-content.image-caption-format-1 !{jTag.markKeywords(item.content, 497, keywords)}
        .readMore
            a(href='/blog/#{item.id}', title='#{item.title}', rel='more') 阅读全部
    // .post excerpt