ul.sidebar_list
  #tabber
    ul.tabs
      li
        a.selected(href='#popular-posts') 热门话题
      li.tab-recent-posts
        a(href='#recent-posts') 最新博文
    // end .tabs
    .clear
    .inside
      #popular-posts
        ul
          each blog in jTag.topBlogs()
            li
              .info
                p.entry-title
                  a(title='#{blog.title}', href='/blog/#{blog.id}') #{blog.title}
                .meta
                  span #{jTag.format(blog.update_time) }
                  span -  #{blog.view_count}浏览量
              // end .info
              .clear
      // end #popular-posts
      #recent-posts
        ul
          each blog in jTag.lateBlogs()
            li
              .info
                p.entry-title
                  a(title='#{blog.title}', href='/blog/#{blog.id}') #{blog.title}
                .meta
                  span #{jTag.format(blog.update_time) }
                  span -
                  span.ds-thread-count(data-thread-key="#{blog.id}", data-count-type="comments")
              // end .info
              .clear
      // end #recent-posts
      .clear(style='display: none;')
    // end .inside
    .clear
  li.widget.widget-sidebar
    form#searchform.search-form(method='post', action='/search', _lpchecked='1')
      fieldset
        input#s(type='text', name='s', value='搜索...', x-webkit-speech, onblur='if (this.value == "") {this.value = "搜索...";}', onfocus='if (this.value == "搜索...") {this.value = "";}')
        input(type='submit', value='好手氣', onclick='if(this.value=="搜索..."){this.value="";}')
  li.widget.widget-sidebar
    .rssbook.light(style="width:auto")
      p.info 填写您的邮件地址:
      .mailInput
        form(action="http://list.qq.com/cgi-bin/qf_compose_send", target="_blank", method="post")
          input(type="hidden", name="t", value="qf_booked_feedback")
          input(type="hidden", name="id", value="fbb30074540693f33c4c8ef64765c6cd79d6957e68d752c5")
          input#to.rsstxt(name="to", type="text", value="", placeholder="请输入邮箱...")
          .rssbutton
            input(type="submit", value="订阅", style="width: 100%;")
  li.widget.widget-sidebar
    h3 最新回复：
    ul.ds-recent-comments(data-num-items="10")
  li.widget.widget-sidebar
    h3 赞助商：
    div
      a(href="http://item.taobao.com/item.htm?spm=686.1000925.1000774.94.7RQrA6&id=18528913535", target="_blank", title="三星16g内存卡microsd卡tf卡16G S4手机内存卡原厂包装特价包邮") 
        img(height="125", width="300", src="#{options.cdn_path}/images/cooperation.jpg", alt="三星16g内存卡microsd卡tf卡16G S4手机内存卡原厂包装特价包邮")
  li.widget.widget-sidebar
    h3 最近访客：
    div
      ul.ds-recent-visitors(data-num-items="14")